/* Component styles for password recovery */
.card {
  border-radius: 12px;
  background: #e6e6c8;
  background: linear-gradient(180deg,rgba(230, 230, 200, 1) 0%, rgba(225, 211, 151, 0.34) 0%, rgba(225, 219, 151, 0.17) 39%, rgba(199, 201, 89, 0.5) 67%, rgba(173, 39, 16, 0.13) 100%);
}
.card-header {
    background-color: transparent;
    border-bottom: 0px solid transparent;
}
