<nav class="navbar navbar-expand-xl navbar-dark bg-sep-guinda sub-navbar fixed-top">
  <div class="container-fluid px-3">
    <a class="navbar-brand" [routerLink]="['/inicio']">Evaluación diagnóstica</a>
    <button type="button" class="navbar-toggler" (click)="toggleMenu()" aria-label="Abrir menú">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.show]="menuAbierto">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link subnav-link" [routerLink]="['/inicio']">
            <i class="bi bi-house mr-1" aria-hidden="true"></i>
            <strong>Inicio</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link subnav-link" [routerLink]="['/carga-masiva']">
            <i class="bi bi-upload mr-1" aria-hidden="true"></i>
            <strong>Carga masiva</strong>
          </a>
        </li>

        <ng-container *ngIf="isUsuarioAutenticado; else usuarioInvitado">
          <li class="nav-item d-none d-md-block">
            <span class="nav-link subnav-link subnav-separator">|</span>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link subnav-link dropdown-toggle"
              href="javascript:void(0)"
              id="userDropdown"
              role="button"
              (click)="toggleUserMenu()"
              aria-expanded="false"
            >
              <i class="bi bi-person-circle mr-1" aria-hidden="true"></i>
              <strong>{{ getNombreUsuario() }}</strong>
            </a>
            <div class="dropdown-menu" [class.show]="userMenuOpen">
              <a class="dropdown-item" [routerLink]="['/archivos-preescolar']">
                <i class="bi bi-folder2-open mr-2" aria-hidden="true"></i>
                Archivos guardados
              </a>
              <a class="dropdown-item" [routerLink]="['/descargas']">
                <i class="bi bi-download mr-2" aria-hidden="true"></i>
                Descargas
              </a>
              <a class="dropdown-item" [routerLink]="['/tickets']">
                <i class="bi bi-life-preserver mr-2" aria-hidden="true"></i>
                Soporte
              </a>
              <a class="dropdown-item" [routerLink]="['/tickets-historial']">
                <i class="bi bi-card-list mr-2" aria-hidden="true"></i>
                Mis tickets
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" (click)="cerrarSesion()">
                <i class="bi bi-box-arrow-right mr-2" aria-hidden="true"></i>
                Cerrar sesión
              </a>
            </div>
          </li>
        </ng-container>

        <ng-template #usuarioInvitado>
          <li class="nav-item d-none d-md-block">
            <span class="nav-link subnav-link subnav-separator">|</span>
          </li>
          <li class="nav-item" *ngIf="!isAdminAutenticado">
            <a class="nav-link subnav-link" href="javascript:void(0)" (click)="iniciarSesion()">
              <i class="bi bi-box-arrow-in-right mr-1" aria-hidden="true"></i>
              <strong>Login</strong>
            </a>
          </li>
        </ng-template>

        <ng-container *ngIf="isAdminAutenticado; else adminInvitado">
          <li class="nav-item d-none d-md-block">
            <span class="nav-link subnav-link subnav-separator">|</span>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link subnav-link dropdown-toggle"
              href="javascript:void(0)"
              id="adminDropdown"
              role="button"
              (click)="toggleUserMenu()"
              aria-expanded="false"
            >
              <i class="bi bi-shield-lock mr-1" aria-hidden="true"></i>
              <strong>{{ correoAdmin || 'Administrador' }}</strong>
            </a>
            <div class="dropdown-menu" [class.show]="userMenuOpen">
              <a class="dropdown-item" [routerLink]="['/admin/panel']">
                <i class="bi bi-window-stack mr-2" aria-hidden="true"></i>
                Panel admin
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" (click)="cerrarSesionAdmin()">
                <i class="bi bi-shield-x mr-2" aria-hidden="true"></i>
                Salir admin
              </a>
            </div>
          </li>
        </ng-container>
        <ng-template #adminInvitado>
          <li class="nav-item" *ngIf="!isUsuarioAutenticado && !isAdminAutenticado">
            <a class="nav-link subnav-link" href="javascript:void(0)" (click)="iniciarSesionAdmin()">
              <i class="bi bi-shield-check mr-1" aria-hidden="true"></i>
              <strong>Admin login</strong>
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
